#ml-logo {
    display: inline;
}

#ml-title {
    display: inline;
    vertical-align: middle;
    padding-left: 10px;
}

.title-bar {
    background-color: black;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}

.gutter {
}

.pagewrapper {
    background-color: white;
}

.fullwrapper {
    background-color: black;
}

#page-name {
    float: right;
    display: inline;
    vertical-align: middle;
}

#status-window {
    background-color: #aaa;
    height: 250px;
    overflow: scroll;
}
