sample_datasets/20_newsgroups_easy_training.json filter=lfs diff=lfs merge=lfs -text
sample_datasets/20_newsgroups_hard_training.json filter=lfs diff=lfs merge=lfs -text
sample_datasets/movie_sentiment_training.json filter=lfs diff=lfs merge=lfs -text
