<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/model-lab.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script type="text/javascript" src="/js/viewer.js" defer></script>
    <title>Model Lab</title>
</head>
<body>

<div class="row fullwrapper">

    <div class="col-md-1 gutter"></div>

    <div class="col-md-10 pagewrapper">

        <div class="row title-bar">
            <div class="col-md-12">
                <a href="/">
                    <img id="ml-logo" src="/img/microscope.png" height="60">
                </a>
                <h1 id="ml-title">Model lab</h1>
            </div>
        </div>

        <div class="row">

            <div class="col-md-6">

        		<h2>Available Trainings:</h2>
        		<ul>
        		{% for training in trainings%}
        			<li><a href="/view/training/{{ training }}">{{ training }}</a></li>
        		{% endfor %}
        		</ul>

        		<h3>Create Training</h3>
        		<input id="trainingName" type="text" name="evalText">
        		<div id="createTraining" class="btn btn-default">Create Training</div>

        		<h2>Available Models:</h2>
        		<ul>
        		{% for model in models%}
        		    <li><a href="/view/model/{{ model }}">{{ model }}</a></li>
        		{% endfor %}
        		</ul>

        		<h2>Available Implementations:</h2>
        		<ul>
        		{% for implementation in implementations%}
        		    <li><a href="/view/implementation/{{ implementation }}">{{ implementation }}</a></li>
        		{% endfor %}
        		</ul>

        		<h2>Available Corpora:</h2>
        		<ul>
        		{% for corpus in corpora%}
        		    <li><a href="/view/corpus/{{ corpus }}">{{ corpus }}</a></li>
        		{% endfor %}
        		</ul>

        		<h3>Create Implementation</h3>
        		Training:<select id="impTrainingName">
        			{% for training in trainings%}
        				<option>{{ training }}</option>
        			{% endfor %}
        		</select>
        		Model:<select id="impModelName">
        			{% for model in models %}
        				<option>{{ model }}</option>
        			{% endfor %}
        		</select>
        		Name: <input type="text" id="impName">
        		<div id="createImplementation" class="btn btn-default">Create Implementation</div>

        	</div>

        	<div class="col-md-6">
                <iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe"></iframe>
                <div id="status-window">
                    Status Window
                    <div class="status-message">
                        Status Message
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-1 gutter"></div>
</div>

</body>
</html>
