<h1>Model lab</h1>

Available Trainings:
<ul>
{% for training in trainings%}
	<li>{{ training }}</li>
{% endfor %}
</ul>


Training Contents:

<div id="training-contents">
	Select a training above to view it
</div>