<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/model-lab.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script type="text/javascript" src="/js/viewer.js" defer></script>
    <title>Model Lab</title>
</head>
<body>

<div class="row fullwrapper">

    <div class="col-md-1 gutter"></div>

    <div class="col-md-10 pagewrapper">

        <div class="row title-bar">
            <div class="col-md-12">
                <a href="/">
                    <img id="ml-logo" src="/img/microscope.png" height="60">
                </a>
                <h1 id="ml-title">Model lab</h1>

                <h3 id="page-name">Training Details for: <span value="{{ training_name }}" id="trainingName">{{ training_name }}</span></h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">

                <h3>Add Additional Training</h3>

                <br />

                <form id="addForm" action="/training/add_single" target="dummyframe">
                    <input id="addLabel" type="text" name="label" placeholder="label" />
                    <input id="addText" type="text" name="text" placeholder="text" />
                    <select id="addTraining" name="training_name">
                        <option value="{{ training_name }}">{{ training_name }}</option>
                    </select>
                    <div id="addSubmit" class="btn btn-default">Submit</div>
                </form>

                <br /><br />

                <h3>Deduplicate Training</h3>

                <form id="dedupForm" action="/training/deduplicate" target="dummyframe">
                    <select id="dedupTraining" name="training_name">
                      <option value="{{ training_name }}">{{ training_name }}</option>
                    </select>
                    <div id="dedupSubmit" class="btn btn-default">Submit</div>
                </form>

                <br /><br />

                <h3>Training Contents for {{ training_name }}:</h3>
                <div id="refreshSubmit" class="btn btn-default">Refresh</div>

                <table id="training-example-list" class="table table-bordered">
                    <tr>
                        <th>
                            Label
                        </th>
                        <th>
                            Text
                        </th>
                    </tr>
                    {% for example in training_content %}
                    	<tr class="training-example">
                            <td>
                                {{ example.get('label') }}
                            </td>
                            <td>
                                {{ example.get('text') }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe"></iframe>
                        <div id="status-window" style="overflow: scroll;">
                            Status Window
                            <div class="status-message">
                                Status Message
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h3>Extend Training</h3>
                    </div>
                    Implementation
                    Corpus
                    <form id="extendForm" action="/training/recommend" target="dummyframe">
                        <select id="extendCorpus" name="corpus_name">
                            {% for corpus in corpora %}
                            <option value="{{ corpus }}">{{ corpus }}</option>
                            {% endfor %}
                        </select>
                        <select id="extendImplementation" name="implementation_name">
                            {% for implementation in implementations %}
                            <option value="{{ implementation }}">{{ implementation }}</option>
                            {% endfor %}
                        </select>
                        <div id="extendSubmit" class="btn btn-default">Extend</div>
                    </form>

                    <table id="training-recommendations" class="table table-bordered">
                        <tr class="recommendation-header">
                            <th>
                                Text
                            </th>
                            <th>
                                Suggested Label
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </div>

    <div class="col-md-1 gutter"></div>

</div>
</body>
</html>
