<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/model-lab.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script type="text/javascript" src="/js/viewer.js" defer></script>
    <title>Classer</title>
</head>
<body>

<div class="row fullwrapper">

    <div class="col-md-1 gutter"></div>

    <div class="col-md-10 pagewrapper">

        <div class="row title-bar">
            <div class="col-md-12">
                <a href="/">
                    <img id="ml-logo" src="/img/microscope.png" height="60">
                </a>
                <h1 id="ml-title">Classer</h1>

                <h3 id="page-name">Implementation Details for: <span value="{{ implementation_name }}" id="implementationName">{{ implementation_name }}</span></h3>
            </div>
        </div>

        <div class="row">

            <div class="col-md-6">

                <h3>Implementation Contents for {{ implementation_name }} implementation:</h3>

                <table>
                    <tr>
                        <td>
                            Model: {{ implementation_config.get('model_name') }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Training: {{ implementation_config.get('training_name') }}
                        </td>
                    </tr>
                </table>

                <h3>Implementation Status</h3>
                <div id="checkStatus" class="btn btn-default">Check Status</div>
                <div id="loadImplementation" class="btn btn-default">Load Implementation</div>
                <div id="reImplement" class="btn btn-default">Re-Implement</div>
                <div id="implementationStatus">Unknown</div>

                <br />
                <br />

                <h3>Evaluate Implementation</h3>
                <input id="evaluateText" type="text" name="evalText">
                <div id="evaluate" class="btn btn-default">Evaluate</div>

            </div>

            <div class="col-md-6">
                <iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe"></iframe>
                <div id="status-window">
                    Status Window
                    <div class="status-message">
                        Status Message
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="col-md-1 gutter"></div>

</div>

</body>
</html>
