<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/model-lab.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script type="text/javascript" src="/js/viewer.js" defer></script>
    <title>Model Lab</title>
</head>
<body>

<div class="row fullwrapper">

    <div class="col-md-1 gutter"></div>

    <div class="col-md-10 pagewrapper">

        <div class="row title-bar">
            <div class="col-md-12">
                <a href="/">
                    <img id="ml-logo" src="/img/microscope.png" height="60">
                </a>
                <h1 id="ml-title">Model lab</h1>

                <h3 id="page-name">Corpus Details for: <span value="{{ corpus_name }}" id="corpusName">{{ corpus_name }}</span></h3>
            </div>
        </div>

        <div class="row">

            <div class="col-md-6">

                <h3>Training Contents for {{ corpus_name }} corpus:</h3>

                <table>
                    <tr>
                        <th>
                            Text
                        </th>
                    </tr>
                    {% for example in corpus_content %}
                        <tr>
                            <td>
                                {{ example }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

        </div>
    </div>

    <div class="col-md-1 gutter"></div>

</div>

</body>
</html>
